<div *ngIf="isAdmin" class="container">
  <p-fileUpload
    mode="basic"
    name="demo[]"
    url="https://www.primefaces.org/cdn/api/upload.php"
    accept=".xlsx, .xls"
    (onUpload)="upload($event)"
    [auto]="true"
    chooseLabel="Ajouter Moyens"
    [style]="{ height: '35px' }"
  ></p-fileUpload>
  <p-button
    label="Excel modèles"
    (click)="downloadExcel()"
    [style]="{ height: '35px' }"
  ></p-button>
  <p-dropdown
    *ngIf="isCharts"
    [options]="types"
    [(ngModel)]="selectedType"
    optionLabel="name"
    placeholder="Sélectionner un type"
    [style]="{ height: '35px' }"
    (onChange)="onTypeChange()"
  ></p-dropdown>
  <p-calendar
    *ngIf="isCharts"
    [(ngModel)]="rangeDates"
    selectionMode="range"
    [readonlyInput]="true"
    [showIcon]="true"
    [style]="{ height: '35px' }"
    (onSelect)="onDateSelect()"
  ></p-calendar>
</div>
